<a href="https://colab.research.google.com/github/Paulinho2138/Programa-o_FPB/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
nomes = ['Zé', 'Tião', 'Joaquim']
nomes.append('Julia')

#varios valores
outrosNomes = ['Ana', 'Zabé', 'Maria']
nomes.extend(outrosNomes)

nomes

['Zé', 'Tião', 'Joaquim', 'Julia', 'Ana', 'Zabé', 'Maria']

In [5]:
#Crie uma lista de números e
numeros = [2, 4, 1, 6, 9, 12]
#remova o primeiro elemento da lista
numeros.remove(numeros[0])
#remova o ultimo numero da lista
numeros.pop()

12

In [11]:
#1 - Crie ma lista de notas, e exiba-a da menor para maior
notas = [2,10, 9, 4, 7, 3, 8]
nomes = ['Ademar', 'Maristênio', 'Asdrúbal', 'Léo']
notas.sort()
nomes.sort(reverse=True)
#2 - Crie uma lista de nomes de frutas e ordene-a em ordem decrescente

nomes

['Maristênio', 'Léo', 'Asdrúbal', 'Ademar']

In [ ]:
#Exemplo função map - cria uma nova lista com o dobro
numeros = [2,4,6,3]
nova_lista - list(map(lambda x : x*2, numeros))
nova_lista

In [ ]:
#pegar cada um dos numeros acima e dividir por 3
numDivi = list(map(lambda x : x/3))

numSoma

In [19]:
#Exemplo função filter - a partir de uma lista de nomes,
nomes = ['Jose', 'joaquim', 'Baiano', 'Paulo']

newlist = list(filter(lambda x : len(x)>5, nomes))
newlist

['joaquim', 'Baiano']

In [ ]:
#Crie uma lista de notas, imprime as maiores que 6
notas = [10, 8, 10, 8, 8, 9]
newNotas list(filter(lambda x : x>6, notas))

newNotas

In [ ]:
#Dada uma lista de número, retorne uma lista contendo o quadrado de cada numero